@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

/* CSS reset */

* {
  border: 0;
  overflow: hidden;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

/* Base Styles*/
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Press Start 2P";
  animation: body 1.5s forwards;
}

@keyframes body {
  33%, 100% {
    font-size: 80%;
  }
  100% {
    background: #333;
    text-shadow: 3px 3px 5px #333;
  }
}

#myCan {
  width: 100%;
  border: 1px solid;
  animation: myCan .8s forwards;
}

@keyframes myCan {
  0% {
    background: white;
  }
  100% {
    background: darkgreen;
  }
}

#scoreBoard, #toast, #gameOver {
  color: white;
}

#layout {  
  background: #333;
  clear: both;
  position: relative;
}

#score, #lives, #gameOver {
  display: none;
}

#scoreBoard {
  background: #040;
  padding: .3em .5em 0;
  line-height: 1.5em;
}

#lives {
  float: right;
}

#toast, #gameOver {
  position: absolute;
  text-align: center;  
  left: 0;
  right: 0;
}

#toast {
  bottom: 2.25em;
  padding: 5px 0;
}

#gameOver {
  bottom: calc(50% - 48px);
  font-size: 48px;
}
